branches:
  - master
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./googlemaps/__init__.py"
          from: "__version__ = \".*\""
          to: "__version__ = \"${nextRelease.version}\""
        - files:
            - "./setup.py"
          from: 'version=".*"'
          to: 'version="${nextRelease.version}"'
  - - "@semantic-release/exec"
    -  prepareCmd: "python3 setup.py sdist && python3 -m twine check dist/*"
       publishCmd: "python3 -m twine upload dist/*"
  - - "@semantic-release/git"
    - assets:
        - "./googlemaps/__init__.py"
        - "./setup.py"
  - "@semantic-release/github"
options:
  debug: true
